@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Roboto:wght@300&display=swap');
@import "https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round";


* {
    box-sizing: border-box
}

// body::before {
// 	content: "";
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	height: 100vh;
// 	width: 100%;
// 	background: 
// 	  linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, #262626 100%),
// 	  url('/images/lagoon.png') top center no-repeat;
// 	background-size: cover;
// 	z-index: -1;
// 	pointer-events: none;
//   }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kalam', cursive;
}

body {
    margin: 0;
    color: $text-light;
    box-sizing: border-box;
    background-color: #262626;
    font-family: 'Kalam', cursive;

}

a {
	text-decoration: none;
	color: $primary-color;
	font-weight: bolder;
	font-size: 1.2rem;
	font-family: 'Roboto', sans-serif;

	&:hover {
		color: $highlight;
	}
}

p {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: $text-light;

}

.buttonSelected {
    background-color: $text-light !important;
    color: $bg-light !important;
}

.socials {
	display: flex;
	margin: 5px 0px;

	img {
		width: 25px;
		height: 25px;
		margin: 0px 10px;
		filter: invert(30%) sepia(5%) saturate(17%) hue-rotate(314deg)
			brightness(101%) contrast(88%);
	}

	a {
		position: relative;
	}
}

.demos {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 30px;
}

@media screen and (min-width: 1800px) {
	.demos {
		display: grid;
		grid-template-columns: repeat(2, 1fr) !important;
		gap: 30px;
	}
}