$background-image: url('/images/whitepaper.png');

$background-color:#d5d5d5;
// $bg-light: #f8f8f8;

$inactive-color: rgba(211, 211, 211, 0.8);

$link-color: #11ad11;
$highlight: #64a3be;
$primary-color: #3181a3;

$bg-dark: #1a1a1a;
$text-dark: #f3f3f3;

$bg-light: #f3f3f3;
$text-light: #424242;