$background-image: url('/images/whitepaper.png');

$background-color:#d5d5d5;
// $page: #f8f8f8;
$page: #f3f3f3;
$text-color: #424242;
$link-color: #11ad11;
$text-highlight: #aaffbd;
$active-color: green;
$dark: #1a1a1a;